*.[oa]
*.fcgi
*~
Makefile
doc/html
build

# cmake Files
CMakeCache.txt
CMakeFiles/
cmake
cmake_install.cmake
.deps

# Files made by autogen.sh.
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing

